APP_PORT=4300

CMS_REPO_URL=https://github.com/tinitiateprime/tintiate-docker-cms.git
CMS_REPO_BRANCH=main

CONTENT_REPO=tinitiateprime/tinitiate-data-appliance
CONTENT_REPO_URL=https://github.com/tinitiateprime/tinitiate-data-appliance.git
CONTENT_BRANCH=main
CONTENT_REPO_BRANCH=main
CONTENT_REPO_SUBDIR=banking-domain
CONTENT_SOURCE_DIR=banking-domain
CONTENT_DEST_DIR=public/content
GITHUB_TOKEN=
